

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: clamp(500px, 350vw, (calc(2500px + 20vw )));
    background-position-x: clamp(-1000px, (calc(110vw + -2000px)), 0px);
    background-image: url(./milad-fakurian-nY14Fs8pxT8-unsplash.jpg);
    height: 140vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

div{
    display: flex;
    flex-direction: column;
    color: rgb(153, 0, 255)
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="mail"]{
    appearance: none;
    height: 24px;
    background-color: rgb(50, 6, 50);
    border: solid 3px rgb(0, 0, 0);
    border-radius: 8px;
    color: rgb(197, 104, 255);
    font-weight: bold;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.45);
    position: relative;
}

.inputPasswordCon{
    position: relative;
}

#inputPassLab{
    color: rgb(197, 104, 255);
    position: absolute;
    top: 58px;
}

.inputRePasswordCon{
    position: relative;
}

#inputRePassLab{
    color: rgb(255, 0, 0);
    position: absolute;
    top: 58px;
    visibility: hidden;
}


.right{
    width: 550px;
}

input[type="text"]:valid:focus,
input[type="tel"]:valid:focus,
input[type="mail"]:valid:focus{
    border: solid 3px rgb(0, 209, 0);
}

input::placeholder{
    color: rgb(127, 49, 179);;
}

input[type="radio"],
input[type="checkbox"]{
    appearance: none;
    position: relative;
    border-radius: 4px;
    border: solid 1px black;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.439);
    width: 14px;
    height: 14px;
    background-color: rgb(120, 54, 163);
}

input[type="radio"]::before,
input[type="checkbox"]::before{
    background-color:rgb(172, 47, 255);
    color: rgb(243, 232, 250);
    border-radius: 4px;
    width: 11px;
    height: 12px;
    position: absolute;
    padding-right: 1px;
    text-align: end;
    font-size: 12px;
    content: "✔";
    visibility: hidden;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked:before{
    visibility: visible;
}


.form1Con{
    margin-top:  300px; 
    border-radius: 80px;
    width: min(780px , 80vw);
    height: 780px;
    background: linear-gradient(130deg, rgb(31, 2, 57) 30%, rgb(51, 3, 94) 70%, rgb(82, 9, 151))40% ;
    padding: 60px;
}


.headCon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-shadow:10px 10px 20px rgba(0, 0, 0, 0.648);;
}

.headOpl{
    margin-top: 30px;
}

.headUp{
    font-size: 32px;
    font-weight: 1000;
}

.headLow{
    font-size: 20px;
    padding: 4px;
}

.logoCon{
    position: relative;
}

.logoHead{
    font-weight: 1000;
    font-size: 90px;
}

.logoBot{
    font-weight: 1000;
    font-size: 20px;
    position: absolute;
    top: 90px;
    left: 20px;
}

.SectionOne{
    display: grid;
    row-gap: 50px;
    column-gap: 100px;
    grid-template-rows: 1fr  1fr 1fr;
    grid-template-columns: 1.6fr 1.1fr;
    margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
}

.paymentHeader{
    margin-top: 50px;
    margin-left: 16px;
    font-size: 30px;
    font-weight: 1000;
    color: rgb(153, 0, 255);
    text-shadow:10px 10px 20px rgba(0, 0, 0, 0.648);;
}

.formFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    gap: 50px;
}

.paymentInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 0px;
    grid-template-areas: "kortnummer kortnummer"
    "andet andet2";
    width: 160%;
    padding: 20px;
}

.inputCardNumCon{
    grid-area: kortnummer;
}


#inputCardNum{
    width: 370px;
}

#inputExpireDate{
    width: 150px;
}

#inputCVCNum{ 
    width: 80px;
}


.newsOrNoCon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 110%;
    padding: 12px;
    gap: 24px;
}

.newsOrNoCon > div{
    flex-direction: row;
    gap: 12px;
    font-size: 16px;
}

.newsYesLab{
    width: 250px;
}


.form2Con{
    margin-top:  80px; 
    border-radius: 100px;
    width: min(740px , 80vw);
    height: 200px;
    flex-direction: row;
    padding: 0px 80px;
    background: linear-gradient(30deg, rgb(38, 3, 70) 30%, rgb(61, 4, 111) 70%, rgb(82, 9, 151))40% ;
    justify-content: space-between;
    align-items: center;
}

.form2Con> div{
    flex-direction: row;
    gap: 12px;
}


.readPrivPolLab{
    font-size: 20px;
    width: 400px;
    text-shadow: 8px 8px 15px black;
}

.privLivLink{
    font-weight: 900;
}

a{
    text-decoration: none;
    color: #ac2fff;
}

#submitBtn{
    border-radius: 50px;
    height: 80px;
    width: 200px;
    color: rgb(218, 175, 251);
    background-color: rgb(153, 0, 255);
    border:none;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.45);
    transition: .1s;
    font-size: 28px;
    font-weight: 1000;
}
#submitBtn:active{
    transform: scale(1.05);
    transition-duration: .1s;
}